<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员界面</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap-3.4.1/css/bootstrap.min.css}">
</head>
<body>
<div>
    <button class="btn btn-default">default样式</button>
    <button class="btn btn-primary">primary样式</button>
    <button class="btn btn-success">success样式</button>
    <button class="btn btn-info">info样式</button>
    <button class="btn btn-warning">warning样式</button>
    <button class="btn btn-danger">danger样式</button>
    <button class="btn btn-link">link样式</button>
</div>
</body>
</html>