<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TAGCODE"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- Login 24 start -->
<div class="login-24">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-section">
          <div class="logo-2">
            <a href="login-24.html">
              <img src="assets/img/logos/logo-2.png" alt="logo">
            </a>
          </div>
          <h3>Sign into your account</h3>
          <form action="#" method="GET">
            <div class="form-group form-box">
              <input type="email" name="email" class="input-text" placeholder="Email Address">
            </div>
            <div class="form-group form-box">
              <input type="password" name="Password" class="input-text" placeholder="Password">
            </div>
            <div class="form-group mb-0 clearfix">
              <button type="submit" class="btn-md btn-theme float-left">Login</button>
              <a href="forgot-password-24.html" class="forgot-password">Forgot Password</a>
            </div>
            <div class="extra-login clearfix">
              <span>Or Login With</span>
            </div>
            <div class="clearfix"></div>
            <ul class="social-list">
              <li><a href="#" class="facebook-color"><i class="fa fa-facebook facebook-i"></i><span>Facebook</span></a></li>
              <li><a href="#" class="twitter-color"><i class="fa fa-twitter twitter-i"></i><span>Twitter</span></a></li>
              <li><a href="#" class="google-color"><i class="fa fa-google google-i"></i><span>Google</span></a></li>
            </ul>
          </form>
          <p>Don't have an account? <a href="register-24.html" class="thembo"> Register here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Login 24 end -->

<!-- External JS libraries -->
<script src="assets/js/jquery-2.2.0.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- Custom JS Script -->


</body>
</html>