<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>第一个 boot strap</title>
  <link rel="stylesheet" th:href="@{/static/bootstrap-3.4.1/css/bootstrap.min.css}">
  <style>
    .user-login-form{
      max-width: 550px;
      margin: 50px auto;
      padding: 50px 50px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    }
    .user-login-form h3{
      text-align:center;
    }
  </style>
</head>

<body>
<div class="container">
  <div class="user-login-form">
    <h3>请用您的账号登陆</h3>
    <form th:action="@{/login/authentication}" method="post">
      <div class="form-group">
        <label for="name">用户名</label>
        <input type="text" class="form-control" id="name" placeholder="用户名">
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" placeholder="密码">
      </div>
      <button type="submit" class="btn btn-primary">登陆</button>
    </form>
  </div>
</div>
  <script th:src="@{/static/js/jquery.3.3.1.min.js}"></script>
  <script th:src="@{/static/bootstrap-3.4.1/js/bootstrap.js}"></script>
</body>
</html>