<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>正保教育</title>
    <script th:src="@{/statics/wangEditor.min.js}" charset="utf-8"></script>
    <script th:src="@{/statics/jquery-1.11.1.min.js}" charset="utf-8"></script>
    <style>
    body {
        width: 65em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
    .p-desc {
        color:#F00;
        font-size:18px;
        font-weight:bold;
    }
    </style>
</head>
<body>
<fieldset>
    <legend>设置</legend>
    <label><input type="checkbox" id="paragraphIndent" name="paragraphIndent"></input>首行缩进两个全角空格</label>
    <label><input type="checkbox" id="replaceTagU" name="replaceTagU"></input>替换&lt;u&gt;为&lt;span class="font14zd"&gt;</label>
</fieldset>
<p class="p-desc">需要粘贴 word 的富文本编辑器</p>
<div id="divRichText"></div>
<p class="p-desc">需要下载的源代码，增加了自动生成锚点和题目答案加注释的功能</p>
<textarea placeholder="html 源代码在这里" id="myTextarea" style="width:100%;height:300px" readonly="readonly"></textarea>
<!-- 引入 wangEditor.min.js -->
<script th:inline="javascript">
    const E = window.wangEditor
    const editor = new E('#divRichText');
    const inputIndent = $('#paragraphIndent');
    const replaceTagU = $('#replaceTagU');
    editor.config.placeholder = '在这里粘贴 word 复制的文字'
    editor.config.uploadImgShowBase64 = true;
    editor.create()
    const postUrl = [[@{/convert}]];

    editor.config.onchange = function (newHtml) {
        postContent();
    }
    inputIndent.on('click',function(){
        postContent();
    });
    replaceTagU.on('click', function(){
        postContent();
    });
    function postContent(){
        let content = editor.txt.html();
        let paragraphIndent = inputIndent.prop('checked');
        let replaceTagUValue = replaceTagU.prop('checked');
        $.post(postUrl,{content:content, chapter:'0101',
                        paragraphIndent: paragraphIndent,
                        replaceTagU: replaceTagUValue}, function(data){
            if(data.success){
                let myData = data.data;
                $('#myTextarea').val(myData);
            }
        });
    }
    editor.config.linkImgCallback = function (src,alt,href) {
        console.log('图片 src ', src)
        console.log('图片文字说明',alt)
        console.log('跳转链接',href)
    }

</script>
</body>
</html>
